@tailwind base;
@tailwind components;

input[type='text']
    input[type='password']
    input[type='email']
    input[type='number']
    input[type='url']
    input[type='date']
    input[type='datetime-local']
    input[type='month']
    input[type='week']
    input[type='time']
    input[type='search']
    input[type='tel']
    input[type='checkbox']
    input[type='radio']
    select
    select[multiple]
    textarea
  /* 
  //....
  */
  body {
  box-sizing: border-box;
}

.btn {
  @apply px-4 py-1 font-bold rounded;
}
.btn-blue {
  @apply text-white bg-lightblue-500;
}
.btn-red {
  @apply text-white bg-red-500;
}
.btn-blue:hover {
  @apply bg-lightblue-700;
}
.btn-red:hover {
  @apply bg-red-700;
}
#main {
  min-height: calc(100vh - 127px);
}
@tailwind utilities;
